@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
.signup-button {
    background-color: #bbe1fa!important;
    border-radius: 50px !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 29px !important;
    letter-spacing: -0.04em !important;
    width: 160px !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 0 !important;
    height: 45px !important;
    /* justify-content: flex-start!important; */
    left: 23% !important;
}

.login-button {
    background: #bbe1fa !important;
    border-radius: 50px !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 29px !important;
    letter-spacing: -0.04em !important;
    width: 160px !important;
    position: absolute !important;
    top: 0 !important;
    left: 48% !important;
    height: 45px !important;
    z-index: 0 !important;
}

.active {
    background: #1b262c !important;
    color: #ffffff!important;
    z-index: 1 !important;
}

.mon-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal !important;
    font-size: 14px;
}